
html {
  box-sizing: border-box;
  opacity: .9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Libre Baskerville', serif;
  background-color: #2a634d;
  background-image: url(topography.svg); /* attribution: https://www.heropatterns.com/ */ 
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0px 15px 0px 15px;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: rgb(8, 36, 19);
  outline: none;
  box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
}

button:hover { 
  filter: brightness(120%);
}


button:active {
  transform: translate(0.05rem, 0.05rem);
  box-shadow: 0 0;
}

/* opacity container, very useful indeed! */
.container {
  opacity: 1;
  padding: 80px;
}

/* the real container */
.quote-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 20px;
  width: auto;
  min-height: 200px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 5px 5px 20px 5px;
}

/* the quote text itself */
.quote {
  font-size: 1.5rem;
}

/* TODO: dynamically change the quotes based on quote length */
.long-quote {
  font-size: 1.25rem;
}

/* TODO: alter this so that it sits at top-left-corner of quote-card */
.fa-quote-left {
  font-size: 2rem;
}

.author {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.twitter-button:hover {
  color: #38a1f3;
}

.fa-twitter {
  font-size: 1.5rem;
}

/* Loader */

.loader {
  border: 0px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #76a6c7; /* Blue */
  border-radius: 50%;
  width: 160px;
  height: 160px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* 
 ***** MEDIA ******
 **** QUERIES *****
 */

 @media screen and (max-width: 1000px) {

   .quote-card {
     margin: auto 10px;
   }

   .quote {
     font-size: 1rem;
   }
 }